body {
    height: 100%;
    width: 100%;
    background-image: url(media/globale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    text-align: center;
}

.content {
    padding: 5px 40px;
    background-color: #101010;
    size: 100%;
    display: block;
    overflow: scroll;
    text-align: left;
}

.slidin {
    display: flex;
    text-align: center;
    width: -webkit-fill-available;
    padding: 1em;
    background: linear-gradient(to left, turquoise, rgba(0, 255, 0, 0.473))
}

img {
    overflow-clip-margin: content-box;
    size: 100%;
    width: auto;
}

.lain {
    padding: 10px;
}