body {
    height: 100%;
    width: auto;
    background-image: url(media/globale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    text-align: center;
}

.content {
    padding: 5px 40px;
    background-color: #101010;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
}

.slidin {
    display: flex;
    text-align: center;
    width: -webkit-fill-available;
    padding: 1em;
    background: linear-gradient(to left, turquoise, rgba(0, 255, 0, 0.473))
}

img {
    box-sizing: border-box;
    display: inline;
    position: static;
    align-items: left;
}

.lain {
    padding: 10px;
    width: auto;
    max-width: 350px;
}