/* oh my god css is the bane of my existence */

body {
    height: 100%;
    width: auto;
    background-color: black;
    background-image: url(media/globale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 17px;
    margin: 0px;
}

.header {
    z-index: 7;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    background: #101010;
    width: 100%;
    padding: 1px;
    box-shadow: 0px 1px 1px 0px;
}

.title {
    text-align: center;
    padding-left: 60px;
    color: #ffffff;
    position: relative;
}

.content {
    margin-inline: 10px;
    padding: 17px 40px 25px 40px;
    background-color: #101010;
    box-sizing: border-box;
    text-align: left;
}

.fyrrr {
    position: relative;
    padding: 100px 0px 40px;
}

.border {
    background: linear-gradient(to left, turquoise, rgba(0, 255, 0, 0.473));
    margin-inline: 10px;
}

.slidin {
    z-index: 1;
    font-size: 30px;
    padding: 10px;
/*    width: -webkit-fill-available; */
}

p {
    font-size: 18px;
}

img {
    box-sizing: border-box;
    display: inline;
    position: static;
    align-items: left;
}

.lain {
    padding: 10px;
    width: auto;
    max-width: 400px;
}